
	<%= form_for([@product,Comment.new]) do |f| %>
	  <% if user_signed_in? %>
		<div><%= current_user.name %></div>
		<% end %>
	  <div class="form-comment" >
	  <%= f.text_area :content, id:"comment_content" %>
	  </div>
	  <div class="submit-box">
	  <%= f.submit "comment", class:"submit-comment", id: "js-submit-comment" %>
	  </div>
	<% end %>


<script type="text/javascript">
	$(document).on('submit', 'form', function(event) {
		event.preventDefault();
		$.ajax({
			type: $(this).attr('method'),
			url: $(this).attr('action'),
			data: $(this).serialize(),
			dataType: 'html'
		})
		.done(function(response) {
			$('#comments').append(response);
			$('#js-submit-comment').removeAttr("disabled");
  	});
  });

	var options = {
  	url: function(phrase) {
    	return "/comments.json?q[title_cont]=" + phrase;
  	},
	  	getValue: "title",
	   	template: {
			type: "links",
			fields: {
				link: "url"
			}
	  	},
	};
</script>
