<div class="review-show-wrapper">
	<div class="review-show-header">
		<div class="ava">
			<div class="gravatar"></div>
			<span class="admin-name">Admin</span>
		</div>
		<span class="time-ago-in-words"><%= time_ago_in_words(@review.created_at) %></span>
	</div>
	<div class="review-show-container">
		<h2><%= @review.title %></h2>
		<div class="content">
			<%= @review.content.html_safe %>
		</div>
	</div>
</div>